.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 500px 20px;
  color: white;
}

.Section {
  width: 100%;
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
  color: white;
}

.section-intro {
  background-color: #3498db; /* Light Blue */
}

.section-data1 {
  background-color: #e74c3c; /* Red */
}

.section-data2 {
  background-color: #2ecc71; /* Green */
}

.section-conclusion {
  background-color: #f39c12; /* Orange */
}

.Section h2 {
  margin-bottom: 20px;
}

.Section p {
  max-width: 800px;
  text-align: left;
  line-height: 1.6;
}
